.product_container{
  width: 320px;
  height: 320px;
  display: flex ;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
  box-shadow: 2px 2px 4px #aaa;
  opacity: .9;
}

.product_container:hover{
  opacity: 1;
  .product_image{
    animation: zoom-in-product_image .25s ease-in forwards;
  }
}
@keyframes zoom-in-product_image {
  100% {
    scale: 110%;
  }
}

.image_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  
  height: 300px;
  overflow: hidden;
}

.product_image{
  width: 100%;
}

.title{
  margin: 0;  
  font-family: var(--font-header);
  text-transform: uppercase;
  font-size: var(--font-m);
  font-weight: 700;
}

.product_info{
  padding: 8px 16px;
}

.bottom_row{
  display: flex;
  justify-content: space-between;
}

.price{
  margin-right: auto;
}

.delete_button{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 50%;
}

.product_container:hover{
  .delete_button{
    opacity: 100%;
    color: var(--main-color);
  }
}