.product_container{
  width: 300px;
  height: 300px;
  display: flex ;
  position: relative;
  flex-direction: column;
  margin: 16px;
}

.image_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;  
  overflow: hidden;
}

.product_image{
  height: 100%;
}

.bottom_row{
  display: flex;
  justify-content: space-between;
}

.price{
  margin-right: auto;
}

.delete_button{
  display: block;
  position: absolute;
  top:0;
  right: 0;
  opacity: 50%;
}

.product_container:hover{
  .delete_button{
    opacity: 100%;
    color: var(--main-color);
  }
}