nav{
  display: flex;
  justify-content: center;
}

.nav_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px;
  width: 90vw;
}

.site_Title{
  /* line-height: 1.5em; */
  font-size: var(--font-xxl);
  font-weight: 600;
}

.link_container{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 640px;
  height: fit-content;
  font-weight: 700;
}

.navigation_links{
  font-size: var(--font-m);
  a{
    opacity: .75;
    margin: 8px;
  }
}

.reg_links{
  padding: 8px;
}

.navigation_links> a:hover{
  opacity: 1;
}

hr{
  height: 2px;
  opacity: .5;
  color: var(--main-color);
  background-color: var(--main-color);
  width: 100%;
}

.user_link{
  color: var(--main-color);
  background-color: var(--background-color);
  font-size: var(--font-s);
  border: solid 2px var(--main-color);
  border-radius: 12px;
  box-shadow: 2px 2px 4px #00000066;
  padding: 8px 16px;
  margin-right: 8px;
}

.user_link:hover{
  color: var(--background-color);
  background-color: var(--main-color);
  box-shadow: 2px 2px 4px var(--background-color);
}

@media screen and (max-width: 800px){
  nav{ 
    width: 98%;
    margin: 4px;
  }

  .nav_container{
    width: 100%;   
    margin: 0px;
    font-size: var(--font-xs);
  }
}