.carousel_container{
  width: 600px;
  overflow: hidden;
  position: relative;
}

.slider{
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide{
  display: inline-block;
  height: 400px;
  width: 100%;
}

.dots_container{
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.dot{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff44;
  margin: 8px;
}

.active {
  background-color: #FFF;
}