.footer_container{
  display: flex;
  justify-content: space-between;
  width: 100%; 
  min-width: fit-content; 
  background-color: var(--main-color);
  margin-top: 0;
  padding-bottom: 24px;
  color: var(--background-color);
  position: relative;
  bottom: 0;
}

.quick_links{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 24px;
  a{
    font-size: var(--font-s);
    color: var(--background-color);
    padding-right:  12px;
  }
  a:hover{    
    color: var(--accent-color);
  }
  ul{    
    padding: 0;
    list-style: none;
  }
  li{
    padding-bottom: 12px;
  }
}

.socials{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--font-xl);
  a{
    color: var(--background-color);
    padding-right:  12px;
  }
  a:hover{    
    color: var(--accent-color);
  }
}

.mailing_list{  
  width: 450px;
  margin-right: 24px;
  p{
    
  font-family: var(--font-text);
  font-size: var(--font-s);
  }
}

.mailingList_form{
  display: flex;
  flex-direction: column;
  
}

.input{
  font-family: var(--font-text);
  width: 100%;
  border: 0;
  box-shadow: 4px 4px 8px #00000044;
  height: 48px;
  margin: 0;
}

.input:focus{
  /* outline: none; */
  background-color: var(--selected-color);  
  box-shadow: none;
}

.submit_button{
  width: 100%;
  height: 48px;
  box-shadow: 4px 4px 8px #00000044;
  font-family: var(--font-text);
  font-size: var(--font-l);
  font-weight: 600;
  margin-top: 12px;
  border-radius: 0;
  background-color: var(--accent-color);
}

@media screen and (max-width: 800px){
  .footer_container{
    display: flex;
    flex-direction: column-reverse;
    font-size: var(--font-xs);
    width: 100%;
    padding-left: 48px;
    div{
      margin: 0;
      padding: 12px 6px;
    }
  }

  .quick_links{
    ul{
      display: flex;
      flex-direction: row;
    }
  }
  
  .mailingList_form{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .input {
    width: 100%;
  }
}