.comment_container{
  width: 100%;
  padding-top: 16px;
}

.comment_title{
  font-size: var(--font-l);
  font-weight: 600;
  padding-bottom: 8px;
}

.comment_content{
  font-family: var(--font-text);
  font-size: var(--font-s);
  letter-spacing: .01rem;
  padding-bottom: 8px;
}

.top_row{
  display: flex;
  justify-content: space-between;
}

.delete_button{
  height: fit-content;
}