.main_container{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.blog_header{  
  font-weight: 700;
  /* padding-bottom: 12px; */
}

.blog_title{
  font-size: var(--font-xl);
}

.blog_content{
  font-size: var(--font-m);
  font-weight: 600;
  padding: 24px 0;
}

.user_button{
  margin: 0 4px;
}