*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-color: #818C5A;
  --background-color: #fefefe;
  --accent-color: #d97e4a;
  --font-xs: 1em;
  --font-s: 1.3em;
  --font-m: 1.6em;
  --font-l: 2em;
  --font-xl: 3em;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;
  min-width: 800;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "Figtree", sans-serif; */
  font-family: "Encode Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  letter-spacing: 1px;

  color: var(--main-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a{  
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

main{
  display: flex;
  justify-content: center;
}

button{
  background-color: var(--main-color);
  border-radius: 8px;
  padding: 8px;
  border: none;
  color: var(--background-color);
  box-shadow: 4px 4px 8px #00000044;

}

button:hover{
  background-color: var(--accent-color);
  box-shadow: none;
]