*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-color: #818C5A;
  --background-color: #ffffff;
  --accent-color: #d97e4a;
  --font-xs: 1em;
  --font-s: 1.3em;
  --font-m: 1.6em;
  --font-l: 2em;
  --font-xl: 3em;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;
  min-width: 800;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: var(--main-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a{  
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

main{
  display: flex;
  justify-content: center;
}

