*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-color: #505c28;
  --background-color: #fefefe;
  --accent-color: #d97e4a;
  --selected-color: #F2DABD;
  --font-xs: .8em;
  --font-s: 1em;
  --font-m: 1.3em;
  --font-l: 1.6em;
  --font-xl: 2em;
  --font-xxl: 3em;
  --font-header: "Barlow Condensed", sans-serif;
  --font-text: "Hanuman", serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  min-width: 98vw;
  font-family: "Barlow Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  letter-spacing: 1px;

  color: var(--main-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a{  
  color: var(--main-color);
  text-decoration: none;
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

main{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

button{
  background-color: var(--main-color);
  border-radius: 8px;
  padding: 8px;
  border: none;
  color: var(--background-color);
}

button:hover{
  background-color: var(--accent-color);
  box-shadow: none;
  cursor: pointer; 
}