.product_container{
  display: flex;
  justify-content: center;
  width: 60%;
}

.image_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* height: 400px; */
  margin-right: 16px;
}

.product_photo{
  overflow: hidden;
}

.product_info{  
  width: 50%;
}

.product_name{
  font-family: var(--font-header);
  text-transform: uppercase;
}

.product_description{
  font-family: var(--font-text);
  letter-spacing: .01rem;
}