.main_contaniner{
  display: flex;
  justify-content: center;
}

.aboutUs_container{
  width: 60%;
  margin-top: 24px;
}

.shop_image_contaniner{
  display: flex;
  align-items: center;
  overflow-y: hidden;
  margin: 16px 0;
}

.shop_image{
  width: 100%;
  /* background-color: aqua; */
}

.blurb{
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-family: var(--font-text);
  letter-spacing: .01rem;
}

.staff_container{
  /* background-color: red; */
  width:100%;

}

@media screen and (max-width: 800px){
  .aboutUs_container{
    width: 85vw;
  }
}