.staff_profile{
  display: flex;
  flex-direction: row;
  align-items: end;
  /* height: 200px; */
  margin-bottom: 16px;
}

.image_container{  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  overflow: hidden;
  margin-right: 8px;
}

.staff_mem_photo{
  width: 100%;
  /* background-color: aquamarine; */
}

.staff_mem_info{
  width: 70%;
  /* background-color: darkcyan; */
}

.role_form{
  display: flex;
  flex-direction: column;
}

.staff_mem_name{
  font-size: larger;
  font-weight: 700;
}